*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    box-sizing: border-box;
    padding:0;
    margin:0;
  

}
.sectionBanner{
    
    height:100vh; 
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(

        rgba(56, 56, 56, 0.8),
        rgba(63, 63, 65, 0.7)
    ), 
    url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    
}

.parallaxsite{
    background-color:rgb(167, 129, 129);
    width: 30%;
    height: 70px;
    font-size:40px;
    font-weight:100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionMiddle{
    background-color:white;
    color:black;
    text-align: center;
    width:100%;
    height: 320px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 25px;
    padding: 0px 100px;
    line-height: 1.3;

}
.headingMiddle{
    text-align: center;
    margin-bottom:30px;
    margin-top: 30px;

}
.lorem{
    width: 100%;
    margin-left:0px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 22px;
    font-weight:100;
    padding-bottom: 10px;
}
.sectionsecond{
    height:500px; 
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(

        rgba(56, 56, 56, 0.8),
        rgba(63, 63, 65, 0.7)
    ), 
    url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
}
.secondTitle{
    
    width: 30%;
    height: 70px;
    font-size:40px;
    font-weight:100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: white;
} 

.sectiontwo{
    background-color:black;
    color:white;
    text-align: center;
    width:100%;
    height: 450px;
    font-weight: 100;
    font-size: 25px;
    padding: 50px 100px;
    line-height: 1.6;  
}
.sectiontwoheading{
    
    text-align: center;
    margin-bottom:20px;
    margin-top: 0px;
    font-weight:200;
    font-size: 40px;

}
.sectionthird{
    height:500px; 
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(

        rgba(56, 56, 56, 0.8),
        rgba(63, 63, 65, 0.7)
    ), 
    url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;   
    background-attachment: fixed;
}
.thirdtitle{
    width: 30%;
    height: 70px;
    font-size:40px;
    font-weight:100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: white;
    line-height: 1.9;   
}
.sectionthree{
    background-color:black;
    color:white;
    text-align: center;
    width:100%;
    height: 450px;
    font-weight: 100;
    font-size: 25px;
    padding: 100px 100px;
    line-height: 1.6;    
}
.sectionthreeheading{
    text-align: center;
    margin-bottom:20px;
    margin-top: 0px;
    font-weight:200;
    font-size: 40px;
   
}
.sectionButtom{
    
    height:100vh; 
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(

        rgba(56, 56, 56, 0.8),
        rgba(63, 63, 65, 0.7)
    ), 
    url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
}
.traversyMedis{
    background-color:rgb(39, 38, 38);
    width: 30%;
    height: 70px;
    font-size:40px;
    font-weight:100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
        
}
.titlebuttom{
    color: white;  
    font-size:40px;
    font-weight:100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 800px){
body{
    background-color: red;
}
.sectionBanner{
    width: 100%;
    height: 400px;
    
}

.parallaxsite{
    width: 60%;
    height: max-content;
    font-size:40px;
    font-weight:100;
    margin: 0px;
    line-height: 1.3;
}
.sectionMiddle{
    text-align: center;
    width:100%;
    height:350;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 25px;
    padding: 10px 0px;
    line-height: 1.1;

}

.headingMiddle{
    width:100%;
    margin:0px;
    padding:10px 0px;
}
.lorem{    
    width: 100%;
    font-size:15px;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sectionsecond{
    width: 100%;
    height:350px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.secondTitle{
    
    width: 70%;
    height: 70px;
    font-size:30px;
    font-weight:200;
} 
.sectiontwo{
    text-align: center;
    width:100%;
    height: 350px;
    font-weight: 200;
    font-size: 20px;
    padding: 0px 0px;
    line-height: 1.3;  
}
.sectiontwoheading{
    width: 100%;
    text-align: center;
    margin-bottom:0px;
    margin-top: 0px;
    padding:20px 50px;
    font-weight:200;
    font-size: 30px;
}
.sectionthird{
    height:300px; 
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}
.thirdtitle{
    width: 70%;
    height: 100px;
    font-size:40px;
    font-weight:100;
    line-height: 1.3;   
}
.sectionthree{
    text-align: center;
    width:100%;
    height: 350px;
    font-weight: 100;
    font-size: 25px;
    padding: 0px 0px;
    line-height: 1.3;    
}
.sectionthreeheading{
    text-align: center;
    margin-bottom:0px;
    margin-top: 0px;
    font-weight:200;
    font-size: 40px;
    padding:10px 0px;
   
}
.sectionButtom{
    
    height: 350px; 
    width: 100%;

}
.traversyMedis{
    width: 70%;
    height: 100px;
    font-size:30px;
    font-weight:100;
}
.titlebuttom{
    font-size:30px;
    font-weight:100;
}



}


